#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  10%;
  color: #d0b84f;
  text-align: center;
}

.container {
  display: flex;
  width: 50%;
  /* margin:; */
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  align-items: center;
}
.row-start {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.btn {
  margin:0;
  display: inline-block;
  height: 180px;
  width: 180px;
  border: 7px solid rgb(0, 0, 0);
  border-radius: 50%;
}

.strt {
  margin:0;
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 5px solid black;
  border-radius: 50%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.start {
  background-color: beige;
  background-image: url(./images/start.png);
  background-size: 105px 105px;
}
.restart{
  background-color: beige;
  background-image: url(./images/restart.png);
  background-size: 80px 80px;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.row {
  margin: 0;
  padding: 0;
}


